.header{
    position: relative;
    height: 50px;
}
.logo {
    text-align: center;
    margin-top: 10px;
    height: 100%;
}
.logo_img{
    cursor: pointer;
}
.mobile_bar{
    position: absolute;
    top: 15px;
    left: 15px;
}